* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root,
#dots,
#wisely,
#description,
#description2,
#description3 {
  display: flex;
  justify-content: center;
  text-align: center;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  width: 80%;
  flex-wrap: wrap;
}

.livedDots {
  color: red;
}

.warningActive {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  /* color: red; */
  background: #e74c3c;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */

  /* display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%; */
}
