* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

:root {
  --red: #e74c3c;
  --grey: #2c3e50;
  --lightWhite: #ecf0f1;
  --shadow: rgba(0, 0, 0, 0.411);
  --orange: #e67e22;
}

::-webkit-scrollbar {
  width: auto;
}
::-webkit-scrollbar-track {
  background: black;
  opacity: 0;
}
::-webkit-scrollbar-thumb {
  background: #888;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
::-webkit-scrollbar-corner {
  background: black;
}

#warning,
#root,
#description,
#dots {
  display: flex;
  justify-content: center;
  text-align: center;
}

.App,
#description,
.dotsContainer {
  color: var(--lightWhite);
  text-shadow: var(--shadow) 0.1rem 0.1rem;
  font-size: 1.35rem;
}
.App {
  width: 50%;
}

.background {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  background: var(--red); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, var(--red), var(--orange));
  z-index: -1;
}

.App h1 {
  font-size: 3.5em;
  color: white;
  font-weight: 800;
  margin: 2rem;
  align-self: center;
}

.form {
  font-size: 1.7rem;
  color: white;
}

.form label {
  margin: 1rem;
}

.form input {
  font-size: 1.3rem;
}

#description {
  color: white;
}

.birthdayInput input[type="date"],
.lifeInput input[type="number"] {
  color: black;
  background: var(--lightWhite);
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  padding: 0.1rem;
  transition: 0.25s;
}
.birthdayInput input[type="date"]:hover,
.lifeInput input[type="number"]:hover {
  /* color: black; */
  background: white;
}
.birthdayInput input[type="date"]:focus,
.lifeInput input[type="number"]:focus {
  /* color: black; */
  background: white;
}

.form input[type="submit"] {
  background: black;
  border: white 0.1rem solid;
  color: white;
  margin: 0.3rem;
  width: 12rem;
  border-radius: 5rem;
  font-size: 2rem;
  transition: 0.25s;
  margin: 0.5rem 0rem 1.5rem 0rem;
}

.form input[type="submit"]:hover {
  width: calc(12rem + 2vw);
  background: white;
  border: 0.1rem black solid;
  color: var(--orange);
}

.form input[type="submit"]:hover {
  background: white;
}

.dotsContainer {
  display: flex;
  justify-content: center;
  width: 50%;
  flex-wrap: wrap;
  margin: 1rem;
  border: 0.5rem solid var(--lightWhite);
  border-radius: 0.5rem;
  color: white;
  padding: 0.1rem;
}

.livedDots {
  color: red;
}

.warningActive {
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100vh;
  background: var(--red); /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, var(--orange), var(--red));
}

.warningDiv h1 {
  font-size: 2em;
  color: white;
  font-weight: 800;
}

.warningDiv a,
.App a {
  color: white;
}

.warningDiv {
  z-index: 10;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 25%;
  color: var(--lightWhite);
  flex-direction: column;
  font-size: 1.5em;
  text-shadow: var(--shadow) 0.1rem 0.1rem;
}

.warningDiv button {
  margin: 2rem;
  font-size: 1.5em;
  max-height: 2em;
  width: 20rem;
  color: white;
  background: black;
  border: none;
  border-radius: 2rem;
  transition: 0.25s;
  font-weight: 500;
  border: 0.1rem white solid;
}

.warningDiv button:hover {
  color: var(--red);
  background: white;
  cursor: pointer;
  border: 0.1rem black solid;
  width: calc(20rem + 2vw);
}

.madeByVamiqValji {
  display: flex;
  position: fixed;
  bottom: 1.2rem;
  right: 1.2rem;
  background: rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  /* border: 0.4rem rgba(0, 0, 0, 0.1) solid; */
  border-radius: 1rem;
  transition: 0.25s;
  font-size: 1em;
  align-items: center;
}

.madeByVamiqValji:hover {
  background: rgba(0, 0, 0, 0.2);
}

.madeByVamiqValji img {
  width: 2rem;
  height: 2rem;
  margin-left: 0.6rem;
}

@media only screen and (max-width: 1400px) {
  .warningDiv {
    width: 40%;
  }
}

@media only screen and (max-width: 1024px) {
  .warningDiv {
    width: 60%;
  }
  /* body {
    display: none;
  } */
}

@media only screen and (max-width: 768px) {
  .warningDiv {
    width: 70%;
  }
  .warningDiv h1 {
    font-size: 2em;
  }
  /* body {
    display: none;
  } */
}

@media only screen and (max-width: 525px) {
  .warningDiv {
    width: 80%;
    font-size: 1.4em;
  }
  .warningDiv h1 {
    font-size: 1.9em;
  }
  .madeByVamiqValji {
    right: auto;
    left: auto;
    padding: 0.4rem;
    font-size: 0.8em;
    border-radius: 1.2rem;
  }
}

@media only screen and (max-width: 450px) {
  .warningDiv {
    font-size: 1.2em;
  }
  .warningDiv h1 {
    font-size: 1.6em;
  }
  .warningDiv button {
    margin: 1.5rem;
    width: 16rem;
  }
  .warningDiv button:hover {
    width: calc(16rem + 2vw);
  }
}

@media only screen and (max-width: 325px) {
  .warningDiv {
    font-size: 1.1em;
  }
  .warningDiv h1 {
    font-size: 1.4em;
  }
}

@media only screen and (max-height: 400px) {
  .warningDiv {
    font-size: 0.9em;
    width: 90%;
  }
  .warningDiv h1 {
    font-size: 1.3rem;
  }
  .warningDiv button {
    margin: 1rem;
  }
}

@media only screen and (max-width: 1px) {
  body {
    display: none;
  }
}
